

@media screen and (min-width : 700px) and (max-width : 1280px){
    .verticalmenu{
        display: none !important;
    }
}

@media screen and (max-width : 700px){
    .horizontalmenu{
        display: none !important;
    }
}

.menuFont{
    font-size: 0.8em;
}
.panelGridCenter {
    margin: 0 auto;
}
.ui-datatable  .ui-column-filter {
margin-left: -2px;
}

columns.filter-form {
  width: auto;
}
.columnHeader{
	text-align: center;
}
th {
  text-align: center;
}
.dialogBoxId{
 top: 50% !important;
 left:50% !important;
}

.RED {
background-color: #ff0000 !important;

}
.BLACK {
background-color: #000000 !important;

}

 .colored {
 background-color: #6cb6ff;
 color: #000000;
 }
 
 .ui-selectonemenu-filter-container {
    width: 98% !important;
}

.red {
    background-color: red;
}

.blue{
    background-color: blue;
}

